

*{
  box-sizing: border-box;
  font-family: Inter;

}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

body {
  font-family:  Inter;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;  
  max-width: 1080px;

  margin: 50px auto;
  .content{
    padding: 40px;

    .contentTitle{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

    }
  }
}

.searchBlock{
  display: flex;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 0 15px;

  input{
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.sneakers{
  display: flex;
}




